spring:
  datasource:
    driver-class-name:
    url:
    username:
    password:
    type: com.zaxxer.hikari.HikariDataSource
    initialize: false
    hikari:
      data-source-properties:
        cachePrepStmts: true
        prepStmtCacheSize: 250
        prepStmtCacheSqlLimit: 2048
      maximum-pool-size: 10
      connection-test-query: SELECT 1
