<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel" value="true"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="autoMappingBehavior" value="FULL"/>
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <setting name="defaultStatementTimeout" value="25"/>
        <setting name="defaultFetchSize" value="100"/>
        <setting name="safeRowBoundsEnabled" value="false"/>
       <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="localCacheScope" value="SESSION"/>
        <setting name="jdbcTypeForNull" value="OTHER"/>
        <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>

            <setting name="logImpl" value="STDOUT_LOGGING" />

    </settings>

 <!--   <mappers>
         <mapper resource="mappers/DepartmentInfoMapper.xml" />
         <mapper resource="mappers/CompanyPartnerMapper.xml" />
         <mapper resource="mappers/DeviceCommissionMapper.xml" />
         <mapper resource="mappers/InspectionAreaMapper.xml" />
         <mapper resource="mappers/InspectionProportionsMapper.xml" />
         <mapper resource="mappers/PartnerSiteMapper.xml" />
         <mapper resource="mappers/SettleMapper.xml" />
         <mapper resource="mappers/SettlePersonMapper.xml" />
         <mapper resource="mappers/TicketMapper.xml" />
         <mapper resource="mappers/WelcomeMapper.xml" />
         <mapper resource="mappers/WithdrawRecordMapper.xml" />
         <mapper resource="mappers/statistics/DeviceStatisticsMapper.xml" />
    </mappers>-->
</configuration>