*.iml
*.bak
dump.rdb
target
.idea
.settings
.project



build
final
node_modules
.vagrant
*.bind
*.swo
*.tmp
id_rsa*
**build/
**/target/
.settings/
*.log
*.class
**/*.class
.classpath
.project
*.swp
bin/
.DS_Store
.idea
**/*.iml
error.log*
*.db
*.log
f2e/src/js/config.js