.input-panel
  padding: 25px 15px
  background-color: #fff
  .row
    margin: 20px 0px
    

.radio-group
  margin: 30px auto 20px auto
  text-align: center
  .option
    margin: 0px 40px
    .title
      margin-left: 10px
