.info-panel
  background-color: #fff
  height: 150px
  margin-bottom: 15px
  div 
    margin-bottom: 15px
  
.payment-panel
  margin-bottom: 15px
  
.table
  .row
    height: 60px

.rightmask
  position: absolute
  width: 42px
  height: 42px
  left: 20px
  top: 20px
  background-color: rgba(32,32,32,0.8)
  border-radius: 10px
  display: flex
  justify-content: center;
  img.right
    margin-top: 4px
    height: 30px

.title1
  padding: 50px 0px 0px 0px
  font-size: 16pt
  background-color: #fff
  text-align: center

.user-steps
  height: 105px
  background-color: #fff
  display: flex
  flex-direction: column
  .steps
    flex: 1
    padding: 0px 48px
    display: flex
    flex-direction: row
    .steplines
      flex: 1
      display: flex
      flex-direction: row
      .stepline
        margin-top: 40px
        flex: 1
        height: 2px
        background-color: #fd9200
        overflow: hidden
    .stepdots
      position: absolute
      left: 0
      display: flex
      width: 100%
      padding-right: 48px
      padding-left: 48px
      background-color: transparent
      flex-direction: row
      .stepbox
        flex: 1
        padding-top: 37px
        .stepdotend
          position: absolute
          right: 0px
          margin-right: 45px
          width: 8px
          height: 8px
          border-radius: 4px
          background-color: #fd9200
          border: 1px solid #fd9200
        .bikeiend
          position: absolute
          top: 10px
          right: 0px
          margin-right: 35px
          margin-left: -13px
          width: 30px
          height: 20px
          background: url('../img/bike-i.png') center center no-repeat
          background-size: 30px 20px
        .stepdot
          position: absolute
          top: 0px
          width: 8px
          height: 8px
          border-radius: 4px
          background-color: #fd9200
          border: 1px solid #fd9200
        .bikei
          position: absolute
          top: 10px
          margin-left: -13px
          width: 30px
          height: 20px
          background: url('../img/bike-i.png') center center no-repeat
          background-size: 30px 20px
    .stepline
      margin-top: 40px
      flex: 1
      height: 1px
      background-color: #d8d8d8
      overflow: hidden
    .stepdot
      position: absolute
      width: 6px
      height: 6px
      margin-top: 37px
      border-radius: 3px
  .steps-button
    flex: 1
    padding: 0px 10px
    display: flex
    justify-content: space-around
    button
      background-color: #fff
      color: #a9a9a9
      width: 25%
      border-radius: 5px
      height: 22px
      font-size: 12px