.info-panel
  height: 90px
  font-size: 20px
  div 
    margin: 5px
    
.input-panel  
  height: 60px
  margin: 0px 10px
  background-color: #fff
  margin-bottom: 10px
  input
    text-align: center
    height: 40px
    width: 80%
    font-size: 16px
    
.table
  .row
    height: 60px

.quick
  display: flex
  flex-direction: row
  margin: 10px 5px 10px 5px
  text-align: center
  height: 60px
  .quick_change
    flex: 1
    background-color: #fff
    margin: 0px 5px
    font-size: 16pt
    line-height: 60px
