@import "./define"

.user_guide
  width: 100%
  padding: 20px 15px
  
.user_content
  height: 100px

.user_guide_title
  text-align: center
  font-size: 20px
  font-weight: 600

.user_guide_mini_title
  text-align: left
  padding: 20px 0px 0px 0px
  font-size: 14px
  font-weight: 600

.user_guide_sub_title
  text-align: left
  padding: 20px 0px 0px 0px
  font-size: 17px
  font-weight: 600

.user_guide_line_content
  text-align: left
  padding: 5px 0px
  font-size: 13px
  line-height: 16px
  font-weight: 400

.endcontent
  height: 50px

.mytable
  font-size: 12px
  width: 95%

.line
  width: 75%
  text-align: left

.line1
  width: 25%

td
  border:1px solid #aaa
  padding: 3px 1px
  text-align: center

th
  border:1px solid #aaa
  padding: 3px 1px
  text-align: center
  background-color: #ddd