@import "./define"

.user_item
  width: 100%
  padding: 20px 15px
  
.user_content
  height: 100px

.user_item_title
  text-align: center
  font-size: 20px
  font-weight: 600

.user_item_sub_title
  text-align: left
  padding: 20px 0px 0px 0px
  font-size: 14px
  font-weight: 600

.user_item_line_content
  text-indent:25px
  text-align: left
  padding: 5px 0px
  font-size: 13px
  line-height: 16px
  font-weight: 400