include ../common/static

doctype html
html 
  head
    meta(name="viewport", content="width=device-width, user-scalable=no, shrink-to-fit=no")
    meta(name="apple-touch-fullscreen", content="YES")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(charset="UTF-8")
    +css("/css/base.css")
    +js("/vendor/js/pick.js")
    block head
  body
    block body
    unless process.argv.indexOf('production') > -1
      +js("https://wechatfe.github.io/vconsole/lib/vconsole.min.js?v=2.5.2")
    +js("/vendor/js/zepto.js")
    +js("/vendor/js/vue.js")
    block js
